<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState mode="InProc" timeout="30" />
    </system.web>
  
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
 </appSettings>

  <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c432015fa03karaikurichipuds;Persist Security Info=True;User ID=karaikurichipuds;Password=1447242" />
    <add name="c432015fa03karaikurichipudsConnectionString" connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c432015fa03karaikurichipuds;Persist Security Info=True;User ID=karaikurichipuds;Password=1447242"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  

</configuration>
